body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

/*HEADER SECTION*/
header {
    display: flex;
    flex-direction: row;
    position: fixed;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    z-index: 5;
    margin: 0;
}
.logo img {
    height: 50px;
    padding-left: 10px;
}
header nav {
    display: flex;
    padding-right: 10px;
}
header nav span {
    display: inline block;
    text-decoration: underline;
    padding: 20px 10px;
}

/*MAIN CONTENT SECTION*/
.maincontent {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
    padding-top: 69px;
    border: 1px solid red;
    opacity: 0.9;
}
.mission {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 1200px;
    background-image: url(../images/img-mission-background.jpg);
    border: 1px solid blue;
    padding-top: 10px;
}
h2, h4 {
    text-align: center;
    padding: 10px;
    margin: 0;
}
.content {
    background-color: black;
    width: 100%;
}

