body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    margin: 0;
}

/*HEADER SECTION*/
header {
    display: flex;
    flex-direction: row;
    position: fixed;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    z-index: 5;
    margin: 0;
}
.logo img {
    height: 50px;
    padding-left: 10px;
}
nav {
    padding-right: 10px;
    text-align: right;
    min-width: 600px;
}
nav span {
    text-decoration: underline;
    padding: 20px 10px;
}
nav a {
    color: white;
}

/*MAIN CONTENT SECTION*/
.maincontent {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
    padding-top: 69px;
    opacity: 0.9;
}
/*MISSION SECTION*/
.mission {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 1200px;
    background-image: url(../images/img-mission-background.jpg);
    padding-top: 10px;
}
h2, h4 {
    text-align: center;
    margin: 0px;
    padding: 10px;
}
.content {
    background-color: black;
    width: 100%;
}
/*TEAS SECTION*/
.store {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 100%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 10px;
}
.teas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.item {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 240px;
    margin: 10px;
}
.item img {
    height: 200px;
}
.item span {
    display: block;
    margin: auto;
    font-weight: bold;
    padding: 10px;
}
/*LOCATIONS SECTION*/
.locations {
    display: flex;
    flex-direction: column;
    height: 570px;
    margin-top: 60px;
    background-image: url(../images/img-locations-background.jpg);
}
.heading {
    padding-top: 60px;
}
.addresses {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.address {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 280px;
    background-color: black;
    opacity: 1;
    margin: 15px 20px;
}
.address span {
    padding: 18px 5px;
}
/*FOOTER SECTION*/
.footer {
    display: flex;
    flex-direction: column;
}
.contact {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    padding-top: 10px;
}
.contact h2 {
    padding-bottom: 30px;
}
.contact h5 {
    padding: 15px;
    margin: 0;
}
.copyright {
    text-align: left;
    padding-top: 20px;
}

