body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    margin: 0;
}

/*HEADER SECTION*/
header {
    display: flex;
    flex-direction: row;
    position: fixed;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    z-index: 5;
    margin: 0;
}
.logo img {
    height: 50px;
    padding-left: 10px;
}
header nav {
    display: flex;
    padding-right: 10px;
}
header nav span {
    display: inline block;
    text-decoration: underline;
    padding: 20px 10px;
}

/*MAIN CONTENT SECTION*/
.maincontent {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
    padding-top: 69px;
    border: 3px solid red;
    opacity: 0.9;
}
/*MISSION SECTION*/
.mission {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 1200px;
    background-image: url(../images/img-mission-background.jpg);
    border: 3px solid blue;
    padding-top: 10px;
}
h2, h4 {
    text-align: center;
    margin: 0px;
    padding: 5px;
}
.content {
    background-color: black;
    width: 100%;
    border: 3px solid pink;
}
/*TEAS SECTION*/
.store {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 100%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 10px;
    border: 3px solid orange;
}
.teas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.item {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 240px;
    border: 3px solid yellow;
    margin: 10px;
}
.item img {
    height: 200px;
}
.item span {
    display: block;
    margin: auto;
    font-weight: bold;
    padding: 10px;
    border: 3px solid white;
}


